*.docx        diff=zip
*.xlsx        diff=zip
*.pptx        diff=zip

*.g4          text

# Avoid merge conflicts in CHANGELOG
# https://about.gitlab.com/2015/02/10/gitlab-reduced-merge-conflicts-by-90-percent-with-changelog-placeholders/
CHANGELOG.md  merge=union